/* General styles for all devices */
footer {
    background-color: #C99B6C;
    position: fixed;
    width: 100%;
    height: 10vh;
    bottom: 0;
    border-color: #7E6550;
    border-style: solid none none none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
    background-color: #A1ECDC;
    }

    #Miguel {
        font-size: 100px;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #C99B6C;
        border-color: #7E6550;
        border-style: none none solid none;
        overflow:hidden;
    }

    ul li {
        float: left;
    }

    ul li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    ul li a:hover {
        background-color: #7E6550;
    }

    ul li a.active {
        background-color: #E3DDBC;
    }
    
    .entrance {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh;
        padding: 10px;
        /*background-color: aliceblue;*/
    }
    
    .button-class {
        background-color: #7E6550;
        /* Green */
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4px;
        width: 25%;
    }

    /* Mobile-specific styles for screens up to 600px */
    @media only screen and (max-width: 600px) {
    body {
    font-size: 14px;
    }
    
    .container {
    padding: 10px;
    text-align: center;
    }
    
    .button {
    display: block;
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    }
    }